*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

header {
    padding-top: 40px;
    padding-bottom: 60px;
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: "Poppins";
}

.user-container a {
    text-decoration: none;
    color: #283d44;
    font-weight: 600;
    font-size: 1.2rem;
}

.user-container a:hover {
    background-color: transparent;
    color: #f94f5b;
    text-decoration: underline;
    cursor: pointer;
}


header .header-container h1 {
    margin: 0;
    padding-top: 10px;
    font-size: 2.5rem;
    font-family: 'Luckiest Guy', cursive !important;
    color: #283d44;
    vertical-align: middle;
}

header .container h1 span {
    color: #f94f5b;
    font-family: 'Luckiest Guy', cursive !important;
}

.hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.hero img {
    width: 40%;
}


.hero-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    margin-bottom: 8px;
    color: #283d44;
    font-weight: 700;
}

.hero-text h1 span {
    color: #f94f5b;
}

.hero-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
    margin-bottom: 12px;
    color: #283d44;
    font-weight: 500;
}

.hero-text button {
    padding: 1em 2.1em 1.1em;
    margin: 8px;
    border-radius: 4px;
    border: none;
    background-color: #f94f5b;
    color: white;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0em -0.2rem 0em #f94f5b inset;
    font-weight: 500;
}

button:hover {
    background-color: transparent;
    color: #f94f5b;
    border: 3px solid #f94f5b;
    cursor: pointer;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    padding-top: 6rem;
    padding-bottom: 6rem;
    overflow: hidden;
}

.slider .slide-track {
    animation: scroll 25s linear infinite;
    display: flex;
    justify-content: space-evenly;
    width: calc(250px * 14);
}

.slider .slide-track .slide {
    width: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    color: #283d44;
}

.slider .slide-track .slide2 {
    color: #f94f5b;
}

.slider .slide-track .slide2 h3 {
    padding: 0;
    margin: 0;
}

.calculator-forms {
    display: flex;
    gap: 50px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 35px;
    border: 2px solid #283d44;
    border-radius: 20px;
    backdrop-filter: blur(100px);
    box-shadow: 10px 5px 35px -14px #f94f5b;
    font-size: 1.4rem;
}

#calculator-container .row .col select {
    text-align: center;
}

#calculator-container .row .col input {
    text-align: center;
}

#calculator-container .row {
    width: 100%;
    align-items: center;
}

.btn-row .col-6 button {
    width: 100%;
    height: 2.3rem;
    border-radius: 4px;
    border: #f94f5b;
    background-color: #f94f5b;
    color:white;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0em -0.2rem 0em #f94f5b inset;
    font-size: 1rem;
}

.btn-row .col-6 button:hover {
    cursor: pointer;
    color: #f94f5b;
    border: 3px solid #f94f5b;
    background: white;
}

#information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 20px;
    border: 2px solid #283d44;
    border-radius: 20px;
    box-shadow: 10px 5px 35px -14px #f94f5b;
    color: #283d44;
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: 20px;
}

#information-container ul {
    list-style: none;
}

#information-container ul li {
    padding-bottom: 10px;
}

footer {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
}

footer h4 {
    font-size:larger;
    text-align: center;
}

footer .arrow {
    display: flex;
    justify-content: center;
    color: #283d44;
    text-decoration-color: #283d44;
    margin-bottom: 40px;
}

footer .arrow img {
    width: 30px;
}

@media (max-width: 991px) {
    .hero {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .hero .hero-text {
        display: flex;
        flex-direction: column;
    }

    .hero img {
        width: 70%;
    }

    .calculator-forms {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        font-family: 'Poppins', sans-serif;
    }

    #calculator-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #information-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 576px) {

    .hero-text h1 {
        font-size: 2.3rem;
    }
    
    .hero-text p {
        font-size: 1.8rem;
    }
    
    .hero-text button {
        font-size: 1em;
    }

    .slider .slide {
        font-size: 1.5rem;
    }

    #calculator-container {
        font-size: 1rem;
    }

    #calculator-container .btn-row {
        flex-direction: column-reverse;
        gap: 15px;
    }

    #information-container {
        font-size: 1rem;
    }

    footer {
        font-size: 0.7rem
    }

}

/* LOGIN AND REGISTRATION STYLES */

.login-header .login-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.login-header .login-header-container p {
    font-size: 1.2rem;
    font-weight: 500;
}

.login-header .login-header-container p span {
    color: #f94f5b;
}

.login-header .login-header-container h1 a{
    font-size: 2.5rem;
    font-family: 'Luckiest Guy', cursive;
    color: #283d44;
    text-decoration: none;
}

.login-header .login-header-container h1 span {
    font-size: 2.5rem;
    font-family: 'Luckiest Guy', cursive;
    color: #f94f5b;
}


.login-container {
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 26.25rem;
    color: #283d44;
    border: 3px solid #283d44;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 2.25rem;
    text-align: center;
}

.wrapper .input-container { 
    width: 100%;
    height: 3.125rem;
    margin: 1.875rem 0;
}

.wrapper .input-container input {
    width: 100%;
    height: 100%;
    border: 2px solid #283d44;
    border-radius: 40px;
    font: 1rem;
    color: #283d44;
    padding-left: 1.5rem;
}

.wrapper .input-container input::placeholder {
    color: #283d44;
    padding: 1.25rem 2.8125rem 1.25rem 0rem;
}

.wrapper .forgot-password {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin: -0.9rem 0 0.9rem;
}

.wrapper .forgot-password label input {
    accent-color: #283d44;
    margin-right: 3px;
}

.wrapper .forgot-password a {
    color: #283d44;
    text-decoration: none;
}

.wrapper .forgot-password a:hover {
    text-decoration: underline;
}

.wrapper .login-btn {
    background: #f94f5b;
    width: 100%;
    height: 2.8125rem;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
}

.wrapper .login-btn:hover {
    background-color: transparent;
    color: #f94f5b;
    border: 3px solid #f94f5b;
    cursor: pointer;
}

.wrapper .register-link {
    font-size: 0.9rem;
    text-align: center;
    margin: 1.25rem 0 0.9rem;
}

.wrapper .register-link p a {
    color: #283d44;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .register-link p a:hover {
    text-decoration: underline;
}